.ListContainer {
    flex: 1;
    padding: 20px 32px;
    overflow-y: auto;
    color: white;
    background: rgb(151, 27, 47); 
}

.Inputbox {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #dee2e6;
    width: 100%;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}

.canvas-graph {
    margin-top: 20px;
}